<h1>Articles index</h1>
<p>Here you can find all of the written articles</p>
<% for article in @articles %>
	<hr/>
	<h2><%= article.title %></h2>
	<p><%= article.body %></p>
	<%= link_to 'Edit', edit_article_path(article) %>
	<%= link_to 'Delete', article, :method => 'delete' %>
<% end %>

<p><%= link_to 'New article', new_article_path(article) %></p>
